.idea/*
target/*
*.iml
token*
Reactions
dependency-reduced-pom.xml
discord_bots_token
.env
/target/

*.DS_Store
.settings/
.classpath
.project
venv
.vscode
simpleBot.py
__pycache__
test.py
test.json
.idea
