bot_token="'INSERT TOKEN HERE'"
test_bot_token="'INSERT TOKEN HERE'"
s3_access_key="'INSERT KEY HERE'"
s3_secret_access_key="'INSERT KEY HERE'"
twitch_client_id="'INSERT ID HERE'"
twitch_client_secret="'INSERT SECRET HERE'"
